# vite prefixed env variables are exposed to the client (public)

VITE_TMDB_BASE_URL=string

VITE_TMDB_PICTURE_URL=string

VITE_TMDB_API_KEY=string

VITE_TMDB_READ_ACCESS_TOKEN=string

VITE_AUTHOR=string

VITE_APP_NAME=string

VITE_PROJECT_HREF=string
